/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 /* Dashboard CSS */
 /*
 * Base structure
 */
body {
	padding-top: 51px;
}
#application-logo {
	background: url(firewheel.png) no-repeat left center;
	color: white;
	font-style: italic;
	margin-left: 1em;
	padding-left: 2em;
}
.sidebar {
    background-color: #F5F5F5;
    border-right: 1px solid #EEEEEE;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 1em;
    z-index: 1000;
}
.sidebar .nav-sidebar li a{
    display: inline-block;
    font-size:1.2em;
    padding-left: 0;
}
/* Move down content because we have a fixed navbar that is 50px tall */


