/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 /* Dashboard CSS */
 /*
 * Base structure
 */
body {
	padding-top: 51px;
}
.btn.btn-success:visited,
.btn.btn-info:visited,
.btn.btn-warning:visited,
.btn.btn-danger:visited,
.btn.btn-primary:visited,
.btn.btn-success:active,
.btn.btn-info:active,
.btn.btn-warning:active,
.btn.btn-danger:visited,
.btn.btn-primary:active {
    color: white;
}
.text-link-style,
.text-link-style:visited,
.text-link-style:active,
.text-link-style:hover {
    background: none;
    color: #2AABD2;
    text-decoration: underline;
}
div.alert {
    margin: 10px;
}
#application-logo {
	background: url(firewheel.png) no-repeat left center;
	color: white;
	font-style: italic;
	margin-left: 1em;
	padding-left: 2em;
}
.sidebar {
    background-color: #F5F5F5;
    border-right: 1px solid #EEEEEE;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 1em;
    z-index: 1000;
}
.sidebar .nav-sidebar li a{
    display: inline-block;
    font-size:1.2em;
    padding-left: 0;
}
/* Autosearch */
.tt-dropdown-menu {
    background: white;
    border: 1px solid #2AABD2;
    border-radius: 4px;
    padding: 5px;
    min-width: 170px;
    width: auto;
}
.tt-suggestion {
    border-bottom: 1px solid #2AABD2;
    cursor: pointer;
    margin-bottom: 4px;
    padding: 0px 4px;
}
.tt-suggestion:last-child {
    border-bottom: none;
}
.tt-suggestion:hover {
    background: #EDEDED;
}
/* Buddhista adatlap */
.buddhist-data.inactive .panel-info .panel-heading {
    background: linear-gradient(to bottom, #FFFFFF 0px, #E0E0E0 100%);
    color: black;
}
.buddhist-data.supporter .panel-info .panel-heading {
    background: linear-gradient(to bottom, #5BC0DE 0px, #2AABD2 100%);
    color: white;
}
.buddhist-data.member .panel-info .panel-heading {
    background: linear-gradient(to bottom, #5CB85C 0px, #419641 100%);
    color: white;
}
h4.last-payment-info {
    color: #242424;
    font-size: 16px;
    margin: 20px 0px;
}
h4.last-payment-info .last-payment-warning {
    color: red;
    font-style: italic;
}
/*Membmership icons */
.feature-icon {
    background-size: 32px !important;
    display: inline-block;
    height: 32px;
    margin: 0px 5px;
    vertical-align: middle;
    width:  32px;
}
.feature-icon.library-member.false {
    background: url(library-icon.png) no-repeat center center;
}
.feature-icon.library-member.true{
    background: url(library-icon-active.png) no-repeat center center;
}
.feature-icon.bicycle-member.false {
    background: url(bicycle-icon.png) no-repeat center center;
}
.feature-icon.bicycle-member.true{
    background: url(bicycle-icon-active.png) no-repeat center center;
}
.feature-icon.gym-member.false {
    background: url(gym-icon.png) no-repeat center center;
}
.feature-icon.gym-member.true{
    background: url(gym-icon-active.png) no-repeat center center;
}
.feature-icon.motorbike-member.false {
    background: url(motorbike-icon.png) no-repeat center center;
}
.feature-icon.motorbike-member.true{
    background: url(motorbike-icon-active.png) no-repeat center center;
}
.feature-icon.parking-member.false {
    background: url(carpark-icon.png) no-repeat center center;
}
.feature-icon.parking-member.true{
    background: url(carpark-icon-active.png) no-repeat center center;
}