<p>Hello <%= @resource.email %>!</p>

<p>Az alábbi linkre kattintva új jelszót állíthatsz be.</p>

<p><%= link_to 'Megváltoztatom a jelszavam', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Ha nem kértél jelszó változtatást, akkor ne vedd figyelembe ezt az emailt.</p>
<p>A jelszavad nem fog megváltozni, ha nem kattintasz a fenti linkre.</p>
